<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Local Pixiv Viewer</title>
    <style>
        img,
        canvas {
            height: auto;
            min-height: 10%;
            max-height: 100%;
            min-width: 10%;
            max-width: 100%;
        }

        #illust-header {
            word-break: break-all;
        }

        .display {
            text-align: center;
        }
    </style>
    <script src="https://cdn.bootcss.com/jszip/3.2.2/jszip.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="illust-header"></div>
    <button onclick="previous()">上一个</button><button onclick="next()">下一个</button>
    <input type="number" name="pageIndex" id="pageIndex">
    <button onclick="gotoPage()">GO</button>
    <div class="display" id="illust-control"></div>
    <div class="display" id="illust-display"></div>
    <div class="display">
        <button onclick="goTop()">TOP</button>
    </div>
    <script>
        var illusts = JSON.parse(sessionStorage.illusts);
        var idx = illusts.idx || 1;
        var hashIdx = /name(\d+)$/.exec(location.hash);
        if (hashIdx) {
            idx = parseInt(hashIdx[1]);
        }
        var count = illusts.count;
        function addHeader(illust, out) {
            var desc = '';
            if (illust.detail.description) {
                desc = `<hr>${illust.detail.description}<hr>`;
            }
            var tagHtml = '';
            for (var tag of illust.detail.tags.tags) {
                tagHtml += `<span style="background: #6cf">&nbsp;${tag.tag}`;
                if (tag.translation) {
                    tagHtml += `&nbsp;&nbsp;<span style="color: #fff">${tag.translation.en}</span>`;
                }
                tagHtml += `&nbsp;</span> &nbsp;&nbsp;`;
            }

            out.innerHTML = `
<h2 id="name${idx}">${idx}.<a href="https://www.pixiv.net/artworks/${illust.illustId}" target="_blank">${illust.illustTitle}</a></h2>
(pid=${illust.illustId},uid=${illust.userId},type=${illust.illustType}) <br>
<a href='{{ url_for("index") }}'>Home</a><br>
<a href='#user${illust.userId}' onclick="searchUser('${illust.userId}')">${illust.userName}</a>
<br>
${idx}/${count}
&nbsp;${illust.detail.createDate}
${desc}
${tagHtml}
<br>
size=${illust.width}x${illust.height}<br>
${illust.detail.viewCount} views; ${illust.bookmarkCount} marks; ${illust.detail.likeCount} likes;<br>
`;
        }
        function showIllust(illust, out) {
            for (var i = 0; i < illust.pageCount; ++i) {
                out.innerHTML += `<img src="/pixiv/image/${illust.illustId}/${i}" alt="${illust.illustId}:${i + 1}/${illust.pageCount}" width="${illust.width}" height="${illust.height}"/><br/>`;
            }
        }

        function readBlobAsDataURL(blob, callback) {
            var a = new FileReader();
            a.onload = function (e) { callback(e.target.result); };
            a.readAsDataURL(blob);
        }
        var animes = {};
        function loadFrames(illust, frames, control, display) {
            control.innerHTML = `
                <button onclick="animes['${illust.illustId}'].toggle(this)">暂停</button>
                <button onclick="animes['${illust.illustId}'].next()">下一帧</button>
                <span id="info-${illust.illustId}"></span>
                <hr>`;
            display.innerHTML = `
                <canvas id="canvas-${illust.illustId}" width="${illust.width}" height="${illust.height}"></canvas>
            `;

            frames[0]["img"].onload = updateFrame;

            var cvs = document.getElementById(`canvas-${illust.illustId}`);
            var ctx = cvs.getContext("2d");
            var info = document.getElementById(`info-${illust.illustId}`);

            var running = 1;
            var frameIndex = 0;
            function updateFrame() {
                if (document.getElementById(`canvas-${illust.illustId}`)) {
                    setTimeout(updateFrame, frames[frameIndex].delay);
                } else {
                    animes[illust.illustId] = null;
                    delete animes[illust.illustId];
                    console.log(`Stopped ${illust.illustId}`);
                    return;
                }

                if (running === 0) {
                    return;
                }
                if (running === 2) {
                    running = 0;
                }
                var img = frames[frameIndex].img;
                if (img.width && cvs.width !== img.width) cvs.width = img.width;
                if (img.height && cvs.height !== img.height) cvs.height = img.height;
                ctx.drawImage(img, 0, 0);
                info.innerText = `${frameIndex}: ${frames[frameIndex].delay}`;

                ++frameIndex;
                if (frameIndex >= frames.length) {
                    frameIndex = 0;
                }
            }
            function toggle(obj) {
                if (running === 1) {
                    running = 0;
                    obj.innerText = "播放";
                } else if (running === 0) {
                    running = 1;
                    obj.innerText = "暂停";
                } else {
                    alert(`Running is invalid: ${running}`)
                }
            }
            function next() {
                if (running === 1) {
                    alert("请先暂停!")
                    return;
                }
                running = 2;
            }
            return {
                toggle: toggle,
                next: next,
            }
        }

        function showAnime(illust, control, display) {
            var frames = [];
            for (var f of illust.frameInfo.frames) {
                frames.push({
                    img: new Image(),
                    name: f.file,
                    delay: f.delay,
                });
            }
            frames[0].firstFrame = true;

            fetch(`/pixiv/zipFile/${illust.illustId}`, { cache: "force-cache" }).then(function (response) {
                // filter on 200 OK
                if (response.status === 200 || response.status === 0) {
                    return Promise.resolve(response.blob());
                } else {
                    return Promise.reject(new Error(response.statusText));
                }
            }).then(JSZip.loadAsync).then(function (zip) {
                // load images as DataURL
                for (let frame of frames) {
                    console.log("load frame", frame)
                    zip.file(frame.name).async('blob').then(function (blob) {
                        var a = new FileReader();
                        a.onload = function (e) {
                            if (frame.firstFrame) {
                                animes[illust.illustId] = loadFrames(illust, frames, control, display);
                            }
                            frame.img.src = e.target.result;
                            console.log(`Image loaded: ${frame.name}`)
                        };
                        a.readAsDataURL(blob);
                    })
                }
            });
        }

        function loadIllust() {
            if (idx < 1) {
                alert("最小idx为1");
                idx = 1;
            } else if (idx > illusts.count) {
                alert(`最大idx为${illusts.count}`);
                idx = illusts.count;
            }
            document.getElementById("pageIndex").value = idx;
            location.hash = "#name" + idx;

            var header = document.getElementById("illust-header");
            var control = document.getElementById("illust-control");
            var display = document.getElementById("illust-display");
            header.innerHTML = 'Loading';
            control.innerHTML = '';
            display.innerHTML = '';
            var illust = illusts.data[idx - 1];
            if (!illust) {
                header.innerHTML = 'Load failed';
                return
            }
            addHeader(illust, header);
            goTop();
            showIllust(illust, display);
            if (illust.illustType == 2) {
                if(!!illust.frameInfo.frames){
                    showAnime(illust, control, display);
                } else {
                    display.innerHTML += `<br> 暂无动画信息`
                }
            }
        }
        loadIllust();
        function next() {
            idx++;
            loadIllust();
        }
        function previous() {
            idx--;
            loadIllust();
        }
        function gotoPage() {
            idx = document.getElementById("pageIndex").value;
            loadIllust();
        }
        function goTop() {
            window.scrollTo(0, 0);
        }

        var touch = function () {
            var startX, startY, startTime;
            var widthThresh = window.outerWidth;
            var speedTresh = widthThresh / 1000;

            /*手指放在屏幕上*/
            document.addEventListener("touchstart", function (e) {
                console.log(e);
                var touch = e.changedTouches[0];
                startX = touch.pageX;
                startY = touch.pageY;
                startTime = new Date().getTime(); //记录手指按下的开始时间
            });

            document.addEventListener("touchend", function (e) {
                var touch = e.changedTouches[0];  // 必须使用changedTouches
                console.log(e);
                var deltaX = Math.abs(touch.pageX - startX);
                var deltaY = Math.abs(touch.pageY - startY);
                // 忽略极小的移动、Y方向的移动
                if (deltaX < 0.1 * widthThresh || deltaX < deltaY * 1.5) {
                    console.log("Ignored for invalid movement")
                    return true;
                }
                var deltaT = new Date().getTime() - startTime;
                var speed = deltaX / deltaT;
                // 忽略极慢速的移动
                if (speed < 0.1 * speedTresh) {
                    console.log("Ignored for slow speed")
                    return true;
                }
                e.preventDefault();

                var direction = touch.pageX > startX ? -1 : 1;  // 向右滑 -> 上一页; 向左滑 -> 下一页;
                console.log("END", direction, deltaX, deltaT, speed);
                if (speed > speedTresh || deltaX > widthThresh) {
                    idx = idx + direction;
                    loadIllust();
                }
            });
            return {};
        }();

        function onImageClick() {
            console.log(event)
        }

        var isFullScreen = false;
        function toggleFullScreen() {
            console.log('Toggle isFullScreen', isFullScreen);
            if (isFullScreen) {
                exitFullscreen("#illust-display");
                isFullScreen = false;
            } else {
                requestFullScreen("#illust-display");
                isFullScreen = true;
            }
        }
        function keyHandler(event) {
            console.log(event)
            if (event.key === "ArrowRight") {
                next();
                return;
            }
            if (event.key === "ArrowLeft") {
                previous();
                return;
            }
            if (event.key === "Enter") {
                toggleFullScreen();
                return;
            }
        }
        document.addEventListener('keyup', keyHandler);
        document.getElementById("illust-display").addEventListener('dblclick', toggleFullScreen);

        //进入全屏
        function requestFullScreen(element) {
            var de = document.querySelector(element) || document.documentElement;
            if (de.requestFullscreen) {
                de.requestFullscreen();
            } else if (de.mozRequestFullScreen) {
                de.mozRequestFullScreen();
            } else if (de.webkitRequestFullScreen) {
                de.webkitRequestFullScreen();
            }
        }
        //退出全屏
        function exitFullscreen(element) {
            var de = document.querySelector(element) || document.documentElement;
            if (de.exitFullscreen) {
                de.exitFullscreen();
            } else if (de.mozCancelFullScreen) {
                de.mozCancelFullScreen();
            } else if (de.webkitCancelFullScreen) {
                de.webkitCancelFullScreen();
            }
        }

        function searchUser(userId) {
            fetch(
                '{{ url_for("search") }}',
                {
                    method: "POST",
                    body: JSON.stringify({ "match": { "userId": userId } }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }
            ).then((resp) => {
                return resp.json()
            }).then((data) => {
                if (data.count == 0) {
                    alert("无数据");
                } else {
                    // 设置搜索结果数据
                    data.query = { "userId": userId };
                    data.idx = 1;
                    sessionStorage.illusts = JSON.stringify(data);
                    // 跳转到新页面
                    location.reload();
                }
            });

        }
    </script>
</body>

</html>